.Filtering {
  position: sticky;
  display: inline-block;
  height: 25vh;
  width: 12rem;
  min-width: 3rem;
  bottom: 25rem;
  left: 5rem;
  background-color: white;
  box-shadow: 3px 3px 3px #ccc;
  border-radius: 9px;
}
#whatToEat {
  display: block;
  position: relative;
  font-weight: 700;
}
.FilterFood {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}
#foodType {
  font-size: 22px;
  color: #333;
  cursor: pointer;
}

#foodTypeActive {
  width: fit-content;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px solid black;
}
